<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>
  <appSettings>
    <add key="Instrument" value="Osprey" />
    <add key="DefaultWait" value="1" />
    <add key="UseSimulatedInstrument" value="true" />
    <add key="TyphoonMsiInstallerLocation" value="\\Tu-server-build\Typhoon\Development\InstallersML" />
    <add key="QuartzReportLocation" value="\\TestResults\\Reports\\" />
    <add key="QuartzServerUrl" value="http://localhost" />
    <add key="QuartzServerPort" value=":9090" />
    <add key="TyphoonConfigPath" value="\..\config\" />
    <add key="TyphoonDataStoreLocation" value="\..\data_store\" />
    <add key="TyphoonInstallerName" value="Waters Embedded Analyser Platform" />
    <add key="InstrumentName" value="default" />
    <add key="QuartzAutomationUsername" value="devel" />
    <add key="QuartzAutomationPassword" value="latigid56" />
    <add key="UseBootstrapStyling" value="true" />
    <add key="TakeScreenshots" value="false" />
    <add key="SuperSpeed" value="false" />
    <add key="EnableTrace" value="false" />
    <add key="Browser" value="chrome" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>